<div class="container-fluid">
    <div class="row">
        <div class="card card-group">
            <div class="row" *ngFor="let _ of [].constructor(8)">
                <app-ticket-card></app-ticket-card>
            </div>
        </div>
    </div>

    <div class="row container">
        <div class="col-5 card" style="height:  400px;">
            <div class="card-title">
                Resolved Tickets
            </div>
        </div>
        <div class="col-5 card" style="height: 400px;">
            <div class="card-title">
                Unresolved Tickets
            </div>
        </div>
    </div>
</div>
 